/*@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,600,700,800';*/

*{
   /*-fx-font-family: 'Open Sans', sans-serif;*/
    /*-fx-font-size: 14px;*/
    -fx-background-color: none;
    -fx-stroke-miter-limit: 20;
}

.button{
    -fx-font-size: 14px;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-cursor: hand;
}

.container{
    -fx-padding: 50px;
}

.label{
    -fx-font-size: 14px;
}

.input{
    -fx-border-color: #dedede;
    -fx-text-fill: #666;
    -fx-font-size: 14px;
    -fx-font-family: "Open Sans", sans-serif;
    -fx-padding: 0 0 0 20px;
    -fx-prompt-text-fill: #666;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-pref-height: 50px;
}

.select-dropdown{

}

.glyph-icon { -fx-font-family:"FontAwesome";}
.glyph-icon.fa { -fx-font-family:"FontAwesome";}
.glyph-icon.material { -fx-font-family:"Material Design Icons";}

/*.header{*/
    /*-fx-effect : dropshadow(gaussian, rgba(0,0,0,0.1), 0, 1.0, 0, 4);*/
/*}*/

.header-buttons{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.header-buttons .glyph-icon{
    -fx-fill: white;
    -fx-font-size: 16px;
}

.header-icon{
    -fx-background-color: #84bed6 ;
}

.top-bar .button{
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255, 255, 255, .8);
}

.card .glyph-icon{
    -fx-fill: white;
}

.bg-color-1{
    -fx-background-color: #f0c24b;
}

.bg-color-2{
    -fx-background-color: #b5d56a ;
}

.bg-color-3{
    -fx-background-color: #ea7066 ;
}

.bg-color-4{
    -fx-background-color: #84bed6 ;
}

.bg-color-5{
    -fx-background-color: #a597e7 ;
}

.bg-color-6{
    -fx-background-color: #ea77ad  ;
}

.bdr-color-1{
    -fx-border-color: #f0c24b;
}

.bdr-color-2{
    -fx-border-color: #b5d56a ;
}

.bdr-color-3{
    -fx-border-color: #ea7066 ;
}

.bdr-color-4{
    -fx-border-color: #84bed6 ;
}

.bdr-color-5{
    -fx-border-color: #a597e7 ;
}

.bdr-color-6{
    -fx-border-color: #ea77ad  ;
}

.bg-color-7{
    -fx-background-color:  #2f3c43;
}

.btn{
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 11px 20px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-effect : dropshadow(gaussian, rgba(0,0,0,0.1), 0, 1.0, 0, 4);
}

.link{
    -fx-background-color: none;
}

.btn-info{
    -fx-background-color: #5bc0de ;
    -fx-text-fill: #FFFFFF;
}

.btn-info:hover{
    -fx-background-color: #31b0d5;
}

.btn-success{
    -fx-background-color: #5cb85c;
    -fx-text-fill: #FFFFFF;
}

.btn-success:hover{
    -fx-background-color: #449d44;
    -fx-effect : dropshadow(gaussian, rgba(0,0,0,0.3), 0, 1.0, 0, 4);
}

.btn-primary{
    -fx-background-color: #ea7066;
    -fx-text-fill: #FFFFFF;
}

.btn-primary-outline{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #ea7066;
    -fx-border-color: #ea7066;
    -fx-border-width: 1px;
}

.btn-primary-outline .glyph-icon{
    -fx-fill: #ea7066;
}

.btn-primary-outline:hover .glyph-icon{
    -fx-fill: #ea7066;
}

.btn-primary-outline:hover{
    -fx-background-color: #ea7066;
    -fx-text-fill: #FFFFFF;
}

.btn-primary:hover{
    -fx-effect : dropshadow(gaussian, rgba(0,0,0,0.3), 0, 1.0, 0, 4);
}

.btn-default{
    -fx-background-color: white;
    -fx-text-fill: #666;
}

.btn-default:hover{
    -fx-effect : dropshadow(gaussian, rgba(0,0,0,0.3), 0, 1.0, 0, 4);
    -fx-text-fill: #f0c24b;
}

.card{
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
    -fx-background-radius: 13px;
    -fx-text-fill: #FFFFFF;
    -fx-effect : dropshadow(gaussian, rgba(0,0,0,0.1), 0, 1.0, 0, 4);
}

.card-default{
    -fx-background-color: #f8f8f8;
    -fx-text-fill: #000000;
}

.card-horizontal .card-body{
    -fx-padding: 0 50 0 50;
}

.card-default .card-body .label{
    -fx-text-fill: inherit;
}

.card-default .glyph-icon{
    -fx-fill: #000000;
}

.card-default .label.card-heading{
    -fx-text-fill: #f0c24b;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
    -fx-font-family: 'Dosis', sans-serif;
}


.card.bg-color-1 .card-image-overlay{
    -fx-fill: #f0c24b;
}

.card.bg-color-2 .card-image-overlay{
    -fx-fill: #b5d56a ;
}

.card.bg-color-3 .card-image-overlay{
    -fx-fill: #ea7066 ;
}

.card.bg-color-4 .card-image-overlay{
    -fx-fill: #84bed6 ;
}

.card.bg-color-5 .card-image-overlay{
    -fx-fill: #a597e7 ;
}

.card.bg-color-6 .card-image-overlay{
    -fx-fill: #ea77ad  ;
}

.card.bg-color-1 .card-image{
    -fx-stroke: #f0c24b;
}

.card.bg-color-2 .card-image{
    -fx-stroke: #b5d56a ;
}

.card.bg-color-3 .card-image{
    -fx-stroke: #ea7066 ;
}

.card.bg-color-4 .card-image{
    -fx-stroke: #84bed6 ;
}

.card.bg-color-5 .card-image{
    -fx-stroke: #a597e7 ;
}

.card.bg-color-6 .card-image{
    -fx-stroke: #ea77ad  ;
}

.card-body .label.card-heading{
    -fx-font-family: 'Dosis', sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.card-image{
    -fx-background-radius: 13px;
    -fx-border-radius: 13px;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #dddddd;
}

.card-body{
    -fx-padding: 30px;
}

.card-body .label{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}


.header-dropdown {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 5px 0 0 0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-opacity: 0;
}

.header-dropdown.visible{
    -fx-opacity: 1;
}

.header-dropdown .button{
    -fx-padding: 10px 12px;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-pref-width: 227px;
    -fx-text-alignment: left;
    -fx-alignment: top-left;
}

.header-dropdown .button:hover{
    -fx-padding: 10px 12px 10px 22px;
}

.header-dropdown.bdr-color-1 .button{
    -fx-text-fill: #f0c24b;
}

.header-dropdown.bdr-color-1 .button:hover{
    -fx-text-fill: white;
    -fx-background-color: #f0c24b;
}

.header-dropdown.bdr-color-2 .button{
    -fx-text-fill: #b5d56a;
}

.header-dropdown.bdr-color-2 .button:hover{
    -fx-text-fill: white;
    -fx-background-color: #b5d56a;
}

.header-dropdown.bdr-color-3 .button{
    -fx-text-fill: #ea7066;
}

.header-dropdown.bdr-color-3 .button:hover{
    -fx-background-color: #ea7066;
    -fx-text-fill: white;
}

.header-dropdown.bdr-color-4 .button{
    -fx-text-fill: #84bed6;
}

.header-dropdown.bdr-color-4 .button:hover{
    -fx-text-fill: white;
    -fx-background-color: #84bed6;
}

.loginbox{
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-border-width: 1px;
    -fx-border-color: #ddd;
}

.loginbox .text-field{
    -fx-min-height: 48px;
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-border-radius: 10px;
    -fx-padding: 6px 12px;
    -fx-font-size: 14px;
}

.loginbox .body{
    -fx-background-color: white;
    -fx-background-radius: 0 0 7px 7px;
    -fx-border-radius: 0 0 7px 7px;
}

.loginbox .title{
    -fx-border-radius: 7px 7px 0 0;
    -fx-background-radius: 7px 7px 0 0;
    /*-fx-font-family: 'Dosis', sans-serif;*/
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.loginbox .login-btn{
    -fx-font-size: 16px;
}

.loginbox .link{
    -fx-text-fill: #ea7066;
}

.loginbox .link:hover{
    -fx-underline: true;
}

.menu-btn{
    -fx-padding: 10px 12px;
    -fx-background-radius: 100%;
    -fx-effect: dropshadow(gaussian, grey, 10, 0, -5, 5);
}

.menu-toggle{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-pref-width: 90px;
    -fx-pref-height: 90px;
}

.boy-space .menu-toggle{
    -fx-background-color: #3b8bdd;
}

.girl-space .menu-toggle{
    -fx-background-color: #e91e63;
}

.boy-space .menu-toggle .glyph-icon{
    -fx-fill: white;
    -fx-font-size: 40px;
}

.btn-exit{
    -fx-background-color: #337ab7;
    -fx-background-radius: 100%;
}

.btn-exit .glyph-icon{
    -fx-font-size: 40px;
    -fx-fill: white;
}

.btn-info.enter{
    -fx-background-color: #5bc0de ;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.planet-list{
    -fx-background-repeat: repeat;
}

.boy-space .planet-list{
    -fx-background-image: url("/assets/images/patterns/004.png");
}

.girl-space {
    -fx-background-image: url("/assets/images/patterns/003.png");
}

.planet-list .label.title{
    -fx-font-family: 'Dosis', sans-serif;
    -fx-font-size: 34px;
}

.section-title{
    -fx-padding: 50;
    -fx-font-family: 'Dosis', sans-serif;
    -fx-font-size: 36px;
    -fx-font-weight: 700;
    -fx-text-fill: #ea7066;
}


.label.music-header{
    -fx-font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
    -fx-font-size: 34px;
    -fx-text-fill: white;
}

.playlist{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.playlist .button{
    -fx-font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
    -fx-text-fill: white;
    -fx-font-size: 50;
    -fx-font-weight: 700;
    -fx-pref-height: 120px;
}

.playlist .button:hover{
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.combo-box .text-field{
    -fx-font-size: 14px;
    -fx-font-weight: 600;
}

.cartoon-title{
    -fx-font-family: "Open Sans", sans-serif;
    -fx-font-size: 34px;
    -fx-font-weight: 700;
    -fx-padding: 20;
}

.combo-box .list-cell
{
    -fx-cursor: hand;
    -fx-background: white;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-font-family: "Open Sans", sans-serif;
    -fx-text-fill: #969696;
}

.combo-box-popup .list-view
{
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-color: #dedede;
    -fx-border-radius: 4px;
    -fx-border-width: 1px 1px 0 1px ;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 11px 17px;
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #dedede;
    -fx-font-size: 12px;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:hover,
.combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-cursor: hand;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #ea7066;
}
